---
const { title, description, publishedDate, image, imageAlt } = Astro.props;
---

<div class='flex h-full flex-col items-center justify-center gap-4 p-8 md:max-w-5xl md:flex-row md:gap-20'>
  <div class='order-2 flex flex-col gap-4 text-left md:order-3 md:gap-12 md:text-left md:flex-1'>
    <p class='text-sm font-normal tracking-tight opacity-60 dark:text-grey-text'>{publishedDate}</p>
    <h1 class='text-3xl font-medium sm:text-5xl'>{title}</h1>
    <h2 class='pb-4 tracking-tight opacity-90 dark:text-grey-text'>{description}</h2>
  </div>

  <div class='order-3 h-0 opacity-20 md:order-2 md:h-96 md:border-l md:border-dashed'></div>

  <div class='order-1 py-12 md:order-1 md:flex-1'>
    <img src={image} class='aspect-square w-fit rounded-full object-cover dark:opacity-80' alt={imageAlt} />
  </div>
</div>
<div class='border-b border-dashed pb-4 opacity-20'></div>
