---
import ProjectCard from './ProjectCard.astro';
import { projects } from '../data/projects';
import { writings } from '../data/writings';

import { Icon } from 'astro-icon/components';
---

<div class='flex justify-between gap-16 overflow-y-auto'>
  <div class='shrink-0'>
    <div class='max-w-52 sm:max-w-72'>
      <h2
        class='pb-2 pt-12 text-xs opacity-80 transition duration-300 ease-in-out hover:opacity-100 dark:text-grey-text'>
        <a class='inline-flex items-center gap-2' href='/projects'>PROJECTS<Icon name='lets-icons:arrow-right' /> </a>
      </h2>
      {
        projects.map((project) => (
          <ProjectCard title={project.title} description={project.description} url={project.url} />
        ))
      }
    </div>

    <div class='max-w-52 sm:max-w-72'>
      <h2
        class='pb-2 pt-12 text-xs opacity-80 transition duration-300 ease-in-out hover:opacity-100 dark:text-grey-text'>
        <a class='inline-flex items-center gap-2' href='/experiences'
          >EXPERIENCES<Icon name='lets-icons:arrow-right' />
        </a>
      </h2>
      {
        projects.map((project) => (
          <ProjectCard title={project.title} description={project.description} url={project.url} />
        ))
      }
    </div>
  </div>

  <div class='max-w-52 shrink-0 sm:max-w-72'>
    <h2 class='pb-2 pt-12 text-xs opacity-80 transition duration-300 ease-in-out hover:opacity-100 dark:text-grey-text'>
      <a class='inline-flex items-center gap-2' href='/writing'>WRITINGS <Icon name='lets-icons:arrow-right' /></a>
    </h2>
    {
      writings.map((writing) => (
        <ProjectCard title={writing.title} description={writing.description} url={writing.url} />
      ))
    }
  </div>
</div>

<style>
  * {
    font-family: 'IBM Plex Sans', sans-serif;
  }
</style>
