---
import BackBtn from '@components/BackBtn.astro';
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
  const projects = (await getCollection('projects'))
    .filter((project) => !project.data.isDraft)
    .sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());

  console.log(projects);

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

type Props = CollectionEntry<'projects'>;

const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
  <Container>
    <BackBtn />

    <div class='flex flex-col items-center'>
      <h1 class='p-12 font-inter text-5xl opacity-80'>{project.data.title}</h1>
      <img src={project.data.image} class='w-fit dark:opacity-80 py-4' alt={project.data.imageAlt} />
      <div class='flex justify-center gap-4 underline'>
        <a href={project.data.url}>demo</a>
        <a href={project.data.repo}>repo</a>
      </div>
    </div>

    <article>
      <Content />
    </article>
  </Container>
</Layout>
